:root{
    --white: #F8F9FA;
    --lightgray: #E5E5E5;
    --dark-gray: #5B5858;
    --orange: #FF8F00;
}

nav{
    height: 70px;
    background-color: var(--white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
}

.small{
    height: 70px;
}

.form-control{
    background-color: var(--lightgray);
}

.input-group-text{
    background-color: var(--lightgray);
}

.form-floating:not(.form-control:disabled)::before{
    display: none;
}

.icon{
    color: var(--dark-gray);
}

.icon-orange{
    color: var(--orange);
}

.btn.show,
.btn.active{
    border-color: var(--white);
}
